/* home-admin.css */

.home-admin-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.navbar-brand {
    text-decoration: none;
    color: #fff;
}

.navbar-brand h1 {
    margin: 0;

}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.username {
    font-size: 16px;
}

.logout {
    color: #f8f9fa;
    text-decoration: none;
    font-size: 16px;
}

.logout:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;
    padding: 20px;
}