/* Định dạng tiêu đề quản lý người dùng */
.title-manage-user {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Khung chứa thông tin quản lý người dùng */
.container-manager-user {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Định dạng cho từng hàng trong khung quản lý người dùng */
.flex-row-container-manager-user {
    width: calc(100% / 3 - 10px);
}

.flex-row-container-manager-user label {
    display: block;
    font-weight: 600;
}

.flex-row-container-manager-user input {
    height: 25px;
    width: 99%;
}

/* Nút và hành động quản lý người dùng */
.action-manage-user {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

/* Nút thêm người dùng và các nút hành động khác */
.btn-submid-manage-user {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #008CBA;
}

.btn-submid-manage-user:hover {
    background-color: #005f73;
}

/* Định dạng bảng quản lý người dùng */
.table-manage-user {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-manage-user th,
.table-manage-user td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.table-manage-user th {
    background-color: #f4f4f4;
}

.table-manage-user td {
    background-color: #fff;
}

/* Nút chỉnh sửa và xóa trong bảng */
.action-buttons {
    display: flex;
    gap: 10px;
}

.btn-edit,
.btn-delete {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
}

.btn-edit {
    background-color: #4CAF50;
}

.btn-delete {
    background-color: #f44336;
}

/* Nút tìm kiếm và quay lại trang chính */
.btn-search-user,
.btn-add-user,
.btn-back-home {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #008CBA;
}

.btn-search-user {
    background-color: green;
}

.btn-back-home {
    background-color: #f39c12;
    text-decoration: none;
}

/* Định dạng input chỉ đọc */
input:read-only {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    cursor: not-allowed;
}

/* Định dạng phân trang */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pagination-container {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;
}

.pagination-page,
.pagination-previous,
.pagination-next {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-page:hover,
.pagination-previous:hover,
.pagination-next:hover {
    background-color: #005f73;
}

.pagination-disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.pagination-active {
    background-color: #004d40;
}

.back-to-home-manage-user {
    list-style-type: none;
    text-decoration: none;
    background-color: green;
}